@import URL('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Noto+Sans+Bengali:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap');
@import "tailwindcss";



.trio{
  font-family: "Tiro Bangla", serif;
}

.hind{
  font-family: "Hind Siliguri", sans-serif;
}

.noto{
  font-family: "Noto Sans Bengali", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Hind Siliguri", sans-serif;
}